{% extends 'layout.html' %}
{% block content %}
<form action="/form" method="POST">
  <p><input name="title" type=text value="{{post.title}}"/></p>
  <p><input name="file" type=file /></p>
  <p><textarea name='body'>{{post.body}}</textarea></p>
  <p><select name="type">
  <option value="0">FormData</option>
  <option value="1">JSON</option>
  <option value="2">urlencoded</option>
  </select></p>
  <button type="submit">Submit</button>
</form>

<script>
function createBody(form) {
  const type = form.type.value
  if(type === '0') {
    return { body: new FormData(form) }
  }
  const els = form.elements
  let body = {}
  for(let i = 0; i < els.length; i++) {
    body[els[i].name] = els[i].value
  }
  if(type === '1') {
    return {
      body: JSON.stringify(body),
      headers: {
        'Content-Type': 'application/json'
      }
    }
  }
  return {
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded'
    },
    body: Object.keys(body).map((key) => key + '=' + encodeURIComponent(body[key])).join('&')
  }
}
document.querySelector('form').onsubmit = function(e) {
  e.preventDefault()
  fetch(this.action, Object.assign({
      method: 'post',
    },
    createBody(this)
  )).then(r => r.json()).then(j => {
    console.log(j)
  })
}
</script>
{% endblock %}