{% extends 'layout.html' %}
{% block content %}
<form action="/form" method="POST">
  <p><input name="title" type=text value="{{post.title}}"/></p>
  <p><input name="file" type=file /></p>
  <p><textarea name='body'>{{post.body}}</textarea></p>
  <p>
    <label><input type="checkbox" name="hobby[]" value="睡觉" />睡觉</label>
    <label><input type="checkbox" name="hobby[]" value="吃饭" />吃饭</label>
    <label><input type="checkbox" name="hobby[]" value="足球" />足球</label>
  </p>
  <p><select name="type">
  <option value="0">FormData</option>
  <option value="1">JSON</option>
  <option value="2">urlencoded</option>
  </select></p>
  <button type="submit">Submit</button>
</form>

<script>
function filterFormData(els, add) {
  for(let i = 0; i < els.length; i++) {
    let el = els[i]
    let name = el.name
    if((el.type === 'checkbox' || el.type === 'radio') && !el.checked || !name || el.disabled) {
      continue
    }
    add(name, el.value)
  }
}
function createBody(form) {
  const type = form.type.value
  if(type === '0') {
    return { body: new FormData(form) }
  }
  const els = form.elements
  if(type === '1') {
    let body = {}
    filterFormData(els, (name, val) => (body[name] = val))
    return {
      body: JSON.stringify(body),
      headers: {
        'Content-Type': 'application/json'
      }
    }
  }
  const params = new URLSearchParams()
  filterFormData(els, (name, val) => params.append(name, val))
  return {
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded'
    },
    body: params.toString()
  }
}
function request(url, fetchOptions) {
  const headers = Object.assign({
    Accept: 'application/json'
  }, fetchOptions.headers)
  return fetch(url,
    Object.assign({
      method: 'post',
    },
    fetchOptions,  {
      headers
    })
  ).then(r => r.json())
}
document.querySelector('form').onsubmit = function(e) {
  e.preventDefault()
  request(this.action, createBody(this)).then(j => {
    console.log(j)
  })
}
</script>
{% endblock %}