{% extends 'layout.html' %}
{% block content %}
<a href='/post/update'>New Post</a>
<h1>Posts</h1>
{# <pre>{{posts | dump }}</pre> #}
<div id="posts">
  {% for post in posts %}
  <dl>
    <dt><a href="/post/{{post._id}}">{{post.title}}</a></dt>
    <dd>{{post.body}}</dd>
    <dd>Last Updated @ {{post.updated_at | date}}</dd>
    <dd><a href="/post/update/{{post._id}}">Edit</a> &nbsp; <a data-delete href="/post/{{post._id}}">Delete</a></dd>
  </dl>
  {% endfor %}
</div>
<a href="/post/">Not found Error</a>

<script>
document.onclick = e => {
  const target = e.target
  if(target.matches('[data-delete]')) {
    e.preventDefault()
    fetch(target.href, {
      method: 'DELETE'
    }).then(r => r.json()).then(r => {
      if(r.code === 0) {
        location.reload()
      }
    })
  }
}
</script>
{% endblock %}